transformers==4.51.3
peft==0.15.2
accelerate==1.6.0
bitsandbytes==0.45.5
cloudpickle==3.1.1
datasets==3.5.1
evaluate==0.4.3
huggingface_hub[hf_transfer]
safetensors>=0.5.2
sagemaker==2.244.0
sentencepiece==0.2.0
scikit-learn==1.6.1
tokenizers>=0.21.1
py7zr
