transformers==4.50.3
peft==0.15.1
accelerate==1.5.2
bitsandbytes==0.45.4
datasets==3.5.0
evaluate==0.4.3
huggingface_hub[hf_transfer]
safetensors>=0.5.3
sagemaker==2.243.0
sentencepiece==0.2.0
scikit-learn==1.6.1
tokenizers>=0.21.1
py7zr
